@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

html,
body,
#__nuxt {
    width: 100%;
    min-height: 100%;
    margin: 0;
    padding: 0;
    justify-content: center;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Roboto, arial;
    font-weight: 300;
    font-size: 20px;
    line-height: 151%;
    --headercolor: #5387d9;
}

.button_base {
    font-family: Roboto;
    font-style: normal;
    font-weight: 900;
    font-size: 35px;
    line-height: 30px;
    color: var(--blue-1);
    text-decoration: none;
    margin: 0;
}

h1 {
    font-family: Roboto;
    font-style: normal;
    font-weight: 900;
    font-size: 35px;
    line-height: 30px;
    display: flex;
    align-items: center;
    color: var(--blue-1);
    justify-content: center;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 44px 40px;
    border: solid #cdd5df 1px;
    border-radius: 0 0 20px 20px;
}

header .left {
    flex-shrink: 0;
}

header .right {
    flex-shrink: 0;
    width: 224px;
}

.nav {
    font-family: Roboto, sans-serif;
    font-weight: 500;
    font-size: 28px;
}

.nav > ul {
    list-style: none;
    display: flex;
    align-items: center;

    gap: 60px;
}

header .button {
    color: var(--blue-1);
    text-decoration: none;
}

.button_page {
    color: inherit;
    text-decoration: none;
}

.about_me {
    border-radius: 20px;

    align-items: center;
    text-decoration: none;
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    padding: 60px 20px;
    margin-top: 60px;
    margin-bottom: 60px;
    background: #f9fbfd;
}

.about_me p {
    inline-size: 650px;
}

.about_me img {
    inline-size: 20%;
    border-radius: 20px;
}

footer {
    align-items: center;
    display: flex;
    justify-content: space-around;
    padding-bottom: 60px;
}

footer .contacts h1 {
    margin-bottom: 23px;
}

footer .contacts {
    align-items: center;
    display: flex;
    flex-direction: column;
}

footer .downloads {
    align-items: center;
    display: flex;
    flex-direction: column;
    gap: 23px;
}

footer .downloads .cv {
    font-family: Roboto;
    font-style: normal;
    font-weight: 300;
    font-size: 35px;
    color: red;
}

footer .networks {
    align-items: center;
    display: flex;
    flex-direction: column;
    gap: 23px;
}

footer .logo-links {
    align-items: center;
    display: flex;
    flex-direction: row;
    gap: 15px;
}

@media screen and (max-width: 996px) {
    header {
        flex-direction: column;
        align-items: center;
        gap: 20px;
        padding: 20px;
    }

    header .left {
        width: 100%;
        text-align: center;
    }

    header .nav > ul {
        gap: 10px;
        font-size: 20px;
        flex-wrap: wrap;
        justify-content: center;
        padding: 0;
        margin: 0;
    }

    .Nom {
        font-size: 2em;
        margin: 0;
    }

    .about_me {
        flex-direction: column;
    }

    .about_me p {
        inline-size: auto;
        text-align: center;
        margin-top: 20px;
    }

    .about_me img {
        inline-size: 50%;
    }

    body,
    html {
        overflow-x: hidden;
    }

    .portfolio_carousel,
    .carousel-container {
        overflow: hidden;
    }
}
